* {
    background-color: #E6E6E6;
    padding: 0;
}
.red-circle {
    background: #E65E6B;
    width: 5em;
    height: 5em;
    border-radius: 100em;
    margin: 10px;
    border: white solid .5em;
}
.orange-circle {
    background: #EB9D3A;
    width: 5em;
    height: 5em;
    border-radius: 100em;
    margin: 10px;
    border: white solid .5em;
}
.green-circle{
    background: #7CB06C;
    width: 5em;
    height: 5em;
    border-radius: 100em;
    margin: 10px;
    border: white solid .5em;
}
.blue-circle {
    background: #00ABA9;
    width: 5em;
    height: 5em;
    border-radius: 100em;
    margin: 10px;
    border: white solid .5em;
}
.circle{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /*z-index: -1;*/

}

.text {
    position: relative;
    top: 20px;
    left: 5px;
    width: 50%;
    text-align: left;
    font-size: 12px;
    font-weight:bold;
    color: white;
    background: transparent;
}

img{
    max-width:100%;
    margin:auto;
}
/*.col col-sm col-md-6 col-lg-6 col-xl-6 {*/
/*    */
/*}*/

.small-red-circle {
    background: #E65E6B;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}
.small-orange-circle {
    background: #EB9D3A;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}
.small-green-circle{
    background: #7CB06C;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}
.small-blue-circle {
    background: #00ABA9;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}
.small{
    list-style-type: none;
    position:relative;
    right:0;
    bottom: 40px;
    /*display:inline-block;*/
    float: right;
    display:flex;
    flex-direction: row;
    background: transparent;
}
.small-circle{
    margin: 3px;
}

.s-letter {
    position: relative;
    top:4px;
    right:16px;
    text-align: center;
    font-size: 10px;
    font-weight:bold;
    color: black;
    background: transparent;
    z-index: 0;
}

.title{
    text-align: center;
    margin: 2em;
}
.col-md-4 {
    width: 100px;
}
.col-md-8 {
    display: flex;
    font-size: 1px;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-left: 2em;
    padding: 10px;
}

/* to center flex-items */
/*.flex-item {*/
/*    margin: auto;*/
/*}*/

.media-image {
    image-rendering: high-quality;
    width: 70px;
    height: 70px;
    margin-top: 1em;
    margin-left: 23px;
}
.col-md-9, .p {
    margin-left: 23px;

}
/*{*/
/*font-family: 'Abel', sans-serif;*/
/*}*/

/*.column {*/
/*    float: end;*/
/*}*/
/*.title {*/
/*    font-size: 12px;*/
/*}*/
/*.left {*/
/*    float: left;*/
/*}*/

@media screen and (min-width: 576px) and (max-width: 767px){
    .right {
        display: none;
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size:65px;
        font-weight: bold;
        text-align: center;
        padding: 0.8em;
    }
    h2{
        font-family: 'Anton', sans-serif;
        font-size:40px;
        font-weight: bold;
        text-align: center;
    }
    hr{
        display: none;
    }
    .circle{
        margin: 1em 2em 1em 4em;
    }
    ul li{
        margin:0;
        padding:0;
    }

    .left{
        width:100%;
    }

}
@media screen and (min-width: 768px) and (max-width: 991px){
    .right {
        display: none;
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size:60px;
        font-weight: bold;
        text-align: center;
        padding: 0.8em;
    }
    h2{
        font-family: 'Anton', sans-serif;
        font-size:35px;
        font-weight: bold;
        text-align: center;
    }
    .circle{
        margin: 1em 1em 1em 3em;
    }
    li{
        margin: 0.5em;
    }

    .left{
        width:100%;
    }
    .content{
        margin: 0 4em;
    }
    hr{
        margin: 0 4em;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    h1{
        font-family: 'Anton', sans-serif;
        font-size:48px;
        font-weight: bold;
        text-align: center;
        padding: 0.8em;
    }
    h2{
        font-family: 'Anton', sans-serif;
        font-size:35px;
        font-weight: bold;
        text-align: center;
    }
    .circle{
        margin: 1em 0 1em 6em;
    }
    li{
        margin: 0;
        padding: 0;
    }
    .left{
        width:70%;
        float:left;
    }
    .right{
        width:30%;
        float:right;
    }
    .content{
        margin: 0 2em 0 4em;
    }
    hr{
        margin: 0 6em;
    }
    .col-md-4{
        margin-bottom: 4.5em;
    }
    .media-image {
        margin-left: 35px;
    }
    .col-md-9, .p {
        margin-left: 35px;
        margin-top: 2em;
        padding-right:0;

    }

    .left-four{
        margin-top:7.5em;
    }
}
@media screen and (min-width: 1200px){
    h1{
        font-family: 'Anton', sans-serif;
        font-size:60px;
        font-weight: bold;
        text-align: center;
        padding: 0.8em;
    }
    h2{
        font-family: 'Anton', sans-serif;
        font-size:35px;
        font-weight: bold;
        text-align: center;
    }
    /*.circle{*/
    /*    margin: 1em 1em 1em 8em;*/
    /*    paddding: 0 50px;*/
    /*}*/
    li{
        margin: 0.5em;
    }
    .left{
        width:60%;
        float:left;
    }
    .right{
        width:40%;
        float:right;
    }
    .content{
        margin: 0 0 0 5em;
    }
    hr{
        margin: 0 6em;
    }
    .col-md-4{
        margin-bottom: 1.5em;
    }
    .col-md-9{
        margin-top: 1em;
        padding-right:0;

    }

}